# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
ZHIPU_API_KEY=your-zhipu-api-key
ZHIPU_ENDPOINT=https://open.bigmodel.cn/api/paas/v4
ZHIPU_MODEL=glm-4-flash
